---
import MarginContainer from "../components/atoms/MarginContainer.astro";
---

<section id="anfahrt" class="mt-20">
  <MarginContainer>
    <h1 class="mt-10 font-serif text-3xl md:text-5xl">Anfahrt</h1>
    <span class="mt-4 block h-[2px] w-full bg-black"></span>
    <div class="prose mt-8 max-w-none">
      <p>
        Henningshof Wandersleben <br />
         Schulstraße 19, 99869 Wandersleben / Drei Gleichen
      </p>
      <p>
        Der Henningshof befindet sich im Ortsteil Wandersleben der Gemeinde Drei
        Gleichen im thüringischen Landkreis Gotha und ist somit sowohl von Gotha
        als auch von Erfurt in kurzer Zeit sehr gut zu erreichen.
      </p>
      <h4>Mit dem PKW</h4>
      <details>
        <summary>Aus Erfurt und Umgebung</summary>
        <p>Ca. 25-30 min Fahrtzeit, 20-25 km</p>
        <p>
          Über die A4 Richtung Frankfurt a. M., dann die Ausfahrt Richtung
          Neudietendorf nehmen und danach links abbiegen Richtung Apfelstädt.
          Anschließend den Kreisverkehr an der 2. Ausfahrt verlassen und der
          Straße bis nach Wandersleben folgen. Im Ort Wandersleben angekommen,
          der Hauptstraße bis zur ersten Kreuzung folgen. Der Henningshof
          befindet sich links von der Hauptstraße.
        </p>
      </details>
      <details>
        <summary>Aus Gotha und Umgebung</summary>
        <p>Ca. 20 min, 10-15 km</p>
        <p>
          Hier habt ihr viele Möglichkeiten. Zum Beispiel über die A4 Richtung
          Dresden, Ausfahrt Richtung Wandersleben.
        </p>
        <p>
          Wahlweise könnt ihr aber auch über Siebleben und Seebergen oder über
          Wechmar fahren.
        </p>
      </details>
      <h4>Mit dem ÖPNV</h4>
      <details>
        <summary>Aus Erfurt und Umgebung</summary>
        <p>
          RB 20 Richtung „Eisenach“, Haltestelle: „Wandersleben“ aussteigen und
          dann ca. 15 min. zu Fuß.
        </p>
      </details>
      <details>
        <summary>Aus Gotha und Umgebung</summary>
        <p>
          RB 20 Richtung "Leipzig Hbf“, Haltestelle: „Wandersleben“ aussteigen
          und dann ca. 15 min. zu Fuß.
        </p>
        <p>
          Auch wenn ihr in der kälteren Jahreszeit vielleicht lieber auf den
          öffentlichen Nahverkehr bzw. euer Auto zurückgreifen solltet, so könnt
          ihr dennoch den Henningshof an schönen Tagen übrigens auch ganz
          problemlos mit dem Fahrrad aus Erfurt über einen tollen Radweg
          erreichen.
        </p>
      </details>
      <h2>Parken</h2>
      <p>
        Rund um den Henningshof könnt ihr mehrere Parkmöglichkeiten nutzen. So
        findet ihr zum Beispiel an den Straßenrändern sowie in den umliegenden
        Seitenstraßen diverse Parkbuchten. Der Parkplatz auf dem Henningshof
        selber kann in diesem Jahr aus logistischen Gründen leider nicht genutzt
        werden.
      </p>
    </div>
  </MarginContainer>
</section>
