<section
  id="start"
  class="relative flex h-[40rem] w-full items-center justify-center overflow-hidden"
>
  <img src="/logos/logo.svg" alt="Henningshof" class="w-56" />
  <div
    class="absolute top-0 -mt-40 ml-6 w-[50rem] max-w-none justify-center opacity-20"
  >
    <img src="/logos/lilie.svg" class="w-full" />
  </div>
</section>
