---
import MarginContainer from "../atoms/MarginContainer.astro";
---

<footer class="mt-14 py-4">
  <MarginContainer>
    <div class="flex justify-between">
      <p>&copy; 2023 Flower Art</p>
      <ul class="flex">
        <li>
          <a href="https://www.flowerarterfurt.de/impressum" class="mr-8"
            >Impressum</a
          >
        </li>
        <li><a href="/datenschutz/">Datenschutz</a></li>
      </ul>
    </div>
  </MarginContainer>
</footer>
