---
import MarginContainer from "../atoms/MarginContainer.astro";
---

<header class="fixed z-20 w-full bg-white/50 py-3 backdrop-blur-sm">
  <MarginContainer>
    <div class="flex justify-end">
      <ul class="flex font-bold">
        <li class="mr-4">
          <a href="https://www.instagram.com/henningshof/">Instagram</a>
        </li>
        <li>
          <a href="https://www.facebook.com/people/Henningshof/100086176788029/"
            >Facebook</a
          >
        </li>
      </ul>
    </div>
  </MarginContainer>
</header>
